body {
    background-color: #f7aaaa;
}
.claseanimada {
    position: relative;
    background-color: black;
    overflow: hidden;
}

.claseanimada::before {
    content: '';
    position: absolute;
    top: -50%; 
    left: -50%;
    width: 500px;
    height: 500px; 
    background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.claseanimada::after {
    content: '';
    position: absolute;  
    top: -50%; 
    left: -50%;
    width: 500px;
    height: 500px; 
    background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#loginDiv{
    margin-top: 20vh;
  }
#loginDiv1{
    border-radius: 20px;
  }
#loginForm{
    z-index: 1;
    background-color: aliceblue;
    position: relative; 
    margin-top: 0.2px;
    border-radius: 15px;
    transform: scale(0.96); /* Ajusta el valor según tus necesidades */
    transform-origin: center center; /* Centra la transformación */
  }
.btn-nuevoC{
    background-color: #f3146b;
    border-color: #faecf6;
}
.btn-nuevoC:hover {
    background-color: #b02960;
    border-color: #f984bc;
}

/*
.principal {
    display: flex;
    /*align-items: center;
    justify-content: center;
    /*margin-top: 50px;
  
}

.tarjeta {
    max-width: 500px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#19191a;
    text-align: center;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #c0577f;
    border-radius: 10px;  
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;  
    margin-bottom: 10px;    
    box-sizing: border-box;
    
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #0c0c0c;
}

#login button {
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    
    background-color: #BFBFBF;
    
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}*/

/*esto al parecer es de register*/

.pie-form {
    font-size: 100%;
    text-align: center;    
    margin-top: 20px;
}

.pie-form a {
    color: #262626;
}

.pie-form a:hover {
        color: #bbe1fa;
}


/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

main
{
    display: flex;
    justify-content: center;
}
