body {
    background-color: #f7aaaa;
}
.claseanimada {
    position: relative;
    background-color: black;
    overflow: hidden;
}

.claseanimada::before {
    content: '';
    position: absolute;
    top: -50%; 
    left: -50%;
    width: 500px;
    height: 500px; 
    background: linear-gradient(60deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.claseanimada::after {
    content: '';
    position: absolute;  
    top: -50%; 
    left: -50%;
    width: 500px;
    height: 500px; 
    background: linear-gradient(60deg, transparent, #d9138a, #d9138a);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#loginDiv{
    margin-top: 20vh;
  }
#loginDiv1{
    border-radius: 20px;
  }
#loginForm{
    z-index: 1;
    background-color: aliceblue;
    position: relative; 
    margin-top: 0.2px;
    border-radius: 15px;
    transform: scale(0.96); /* Ajusta el valor según tus necesidades */
    transform-origin: center center; /* Centra la transformación */
  }
.btn-nuevoC{
    background-color: #f3146b;
    border-color: #faecf6;
}
.btn-nuevoC:hover {
    background-color: #b02960;
    border-color: #f984bc;
}

nav .navbar-brand
{
    font-size: xx-large;
}

